@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Urbanist:ital,wght@0,200;0,300;0,500;0,600;0,800;0,900;1,500&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


:root {
    --header-height: 3rem ;
    --first-color-lighter: #ECF3F2;

    --z-tooltip: 10;
    --z-fixed: 100;
}


html {
    scroll-behavior: smooth;
}

body {
    --header-height: 3.5rem;
    --cl--1--:#ffffff;
    --cl--2--:#2f333e;
    --cl--3--:#580b00;
    --cl--4--:#c7c53d;
    --cl--5--:#edf0ee;
    --cl--6--:#191c26;
    background: var(--cl--1--);
    margin: 0;
}

img {
    max-width: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--cl--6--);
    text-transform: capitalize;
    margin: 0;
}

h1 {
    font-size: clamp(40px, 10vw, 70px);
}

h2 {
    font-size: clamp(25px, 5vw, 35px);
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

.row {
    display: flex;
}

.flex {
    flex-wrap: wrap;
    gap: clamp(2em, 5vw, 5em);
}

.flex>* {
    flex: 1 1 25em;
}

.column {
    display: grid;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

ul li a {
    font-weight: 600;
}


.bd-container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* Hero */

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.mySwiper {
    position: relative;
}

.hero .about-container {
    background: linear-gradient(90deg, rgba(225,225,225, 0.9) 16.58%, rgba(225,225,225, 0) 72.38%), url(../images/projects.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
}



.hero .container {
    align-items: center;
    min-height: calc(100vh - 100px);
}

.hero h1 {
    max-width: 550px;
}

.more {
    position: absolute;
    top: 30%;
}

.more span {
    font-weight: 600;
}


.reputation-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: clamp(2em, 5vw, 5em);
    padding-top: 4em;
}

/* .r-card {
    background: var(--cl--5--);
    padding: 2em;
    border: 1.5 solid var(--cl--3--);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s;
} */

.r-card p i {
    font-size: 25px;
    color: var(--cl--4--);
}

.r-card h3 {
    padding: 1rem 0;
}

.r-card a {
    color: var(--cl--3--);
    font-weight: 600;
}



































/* footer */

footer {
    margin-top: 100px;
    width: 100%;
    bottom: 0;
    background-color: var(--cl--3--);
    color: var(--cl--4--);
    padding: 100px 0 30px;
    /* border-top-right-radius: 100px;
    border-top-left-radius: 100px; */
    font-size: 13px;
    line-height: 20px;
}


.foot {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.imgtext {
    margin-top: -40px;
}

.imgtext p {
    font-size: 12px;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col p {
    color: #fff;
    margin-top: -50px;
}


.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 170px;
    margin-bottom: 30px;
    margin-left: -40px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: #fff;
    font-size: 15px;
}

.col p {
    margin-top: -80px;
}

.col ul li {
    list-style: none;
    margin-bottom: 12px;
    font-weight: 200;
}

.col ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
}


.house,
.email,
.telephone,
.phone {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}


.phsps {
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.phsps a {
    color: var(--cl--4--);
}



.con-t {
    margin-top: 100px;
    margin-bottom: 100px;
 }
 
 .con-t .s-box {
     width: 25%;
     float: left;
 }
 
 .con-t .s-box h2 {
     text-align: center;
     color: var(--cl--4--);
     text-transform: uppercase;
 }
 
 .con-t .s-box .chart {
     position: relative;
     /* width: 180px;
     height: 180px; */
     margin: 0 auto;
     text-align: center;
     font-size: 50px;
     font-weight: 550;
     line-height: 100px;
 }
 
 .con-t .s-box canvas {
     position: absolute;
     top: 0;
     left: 0;
 }


 .social-links {
    margin-top: 10px;
    display: flex;
 }
 
 .social-links i {
    font-size: 15px;
    color: var(--cl--1--);
    margin-left: 10px;
 }

 .f-input {
    display: flex;
 }

 .socials {
    display: flex
 }

 .socials li {
    list-style: none;
    margin-right: 10px;
 }

 .socials li a {
    color: var(--cl--3--);
    background: var(--cl--1--);
    padding: 7px 10px;
    border-radius: 50%;
 }





@media screen and (max-width: 700px) {
    .phsps {
        width: 80%;
        margin-left: 20px;
    }
}


.line {
    width: 80%;
    height: 2px;
    background-color: #fff;
    margin: 16px auto ;
}

.end {
    display: flex;
    justify-content: space-around;
}














@media screen and (max-width: 800px) {
    .rating {
        flex-direction: column;
    }

    .s-button {
        margin-button: 30px;
    }

    .foot {
        flex-direction: column;
    }

    .social-links {
        margin-bottom: 40px;
    }

        .logo {
            margin-left: -50px;
        }

         .time h1 {
            font-size: 30px;
         }

                 .time {
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                     padding: 15px 25px;
                 }

                 .mission {
                    flex-direction: column;
                 }

                 .cont {
                    margin-bottom: 20px;
                 }

                 .bg img {
                    margin-left: 0px;
                }

                .work-overlay h1 {
                    font-size: 20px;
                }

                .work-overlay:hover h1 {
                    bottom: 30%;
                    opacity: 1;
                }

             .experience-content-2 h1 {
                font-size: 40px;
             }

                
}



@media screen and (min-width: 1300px) {
    .container {
        max-width: 1215px;
    }


}


@media screen and (max-width: 320px) {
    .bd-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .controls_container {
        column-gap: .25rem;
    }
}


@media screen and (max-width: 800px) {

    .foot {
        flex-direction: column;
    }

    .social-links {
        margin-bottom: 40px;
    }

        .logo {
            margin-left: -50px;
        } 
}


@media screen and (max-width: 768px) {

    .section {
        padding: 110px 3% 60px;
    }
    .contact {
        grid-template-columns: 1fr;
        padding: 30px 30px;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .section-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    
}



